{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecter en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <h1>Bienvenu dans mon univer</h1>
    <img class="rotated-image" src="/images/accueil.jpg" alt="home">
    <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <div class="my-button">
    <button class="btn btn-lg btn-primary" type="submit">
        CONNEXION
    </button>
    <a href="{{ path('app_forgot_password_request') }}" class="loginPasswordReset">Mot de passe oublié ?</a>
    <a href="{{ path('app_register') }}" class="button">Pas de compte ? Créer en un</a>
    </div>
    <img class="rotated-image" src="/images/accueil.jpg" alt="home">
</form>
{% endblock %}
